<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<style>
    .marginauto {
        margin: 10px auto 20px;
        display: block;
    }

</style>
</head>
<body style="background-color: lightcyan; font-size: 14px; font-family: 'Imprint MT Shadow';">
<h2 style="text-align: center;
            padding: 30px;
             margin: 0px;
             background-color:black; color: white">Question Portal</h2>
<dir style="padding: 20px">
    <p>Hello!
        <!--/*@thymesVar id="username" type="String"*/-->
        <span style="color: deepskyblue" th:text="${username}"></span></p>
    <p><span style="color: green">You have successfully registered on our website.</span></p>
    <p>Your registration <span style="color: crimson">email</span>: <!--/*@thymesVar id="emailTo" type="String"*/-->
        <span style="color: deepskyblue; font-size: 16px" th:text="${emailTo}"></span>
    <p>Your registration <span style="color: crimson">password</span>:
        <!--/*@thymesVar id="password" type="String"*/-->
        <span id="passId" hidden="true" style="color: deepskyblue; font-size: 16px" th:text="${password}"></span>
    </p>
    <h3>This is classified information do not tell anyone</h3>
</dir>
</body>
</html>